
*{
    margin: 1px;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

:root {
    --primary-color-text: hsl(215, 51%, 70%);    /* primary color for text */
    --secondary-color-text: hsl(178, 100%, 50%); /* secondary color for text */

    --primary-color-background: hsl(217, 54%, 11%); /* secondary color for text */
    --primary-color-background-card : hsl(216, 50%, 16%); /* secondary color for text */
    --color-line: hsl(216, 50%, 16%); /* secondary color for text */
    --white: hsl(0, 0%, 100%); /* secondary color for text */
}
  

.body{
    background-color: var(--primary-color-background);
}
.container{
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color-background-card);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image{
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    border-radius: 20px;
}

.textPrimary{
    color: var(--primary-color-text);
}

.textTime{
    padding-left: 25%; 
}

.textTitel{
    font-size: 25px;
    font-weight: 400;
}

.textMain{
    font-size: 20px;
    font-weight: 300; 
    padding-top: 25px;
}

.textWhite{
    color: var(--white);
}

.textSecondary{
    color: var(--secondary-color-text);
}

.textCreation{
    padding-left: 3%;
}

.accImage{
    
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.amountDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 40px;
    font-size: 20px;
}

.accDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 30px;
    font-size: 20px;
}

.hLine {
    margin-top: 30px;
    width: 100%;
    height: 1px;
    background: gray;
}

.image-container {
    position: relative;
    display: flex;
    background: var(--secondary-color-text);
    border-radius: 20px;
}

.acc-image-container{
    display: flex;
}

  .overlay-svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  .image-container:hover .overlay-svg {
    opacity: 1;
  }


  .equilibrium{
    padding-top: 30px;
  }

  .mainDiv:hover .textWhite{
    color: var(--secondary-color-text);
  }

  .image-container:hover .image {
    opacity: 0.5;
  }

.attribution{
    color: var(--white);
    font-size: 11px; text-align: center;
}
.attribution a {
     color: var(--secondary-color-text); 
}
