
*{
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

:root {
    --primary-color-text: hsl(215, 51%, 70%);    /* primary color for text */
    --secondary-color-text: hsl(178, 100%, 50%); /* secondary color for text */

    --primary-color-background: hsl(217, 54%, 11%); /* secondary color for text */
    --primary-color-background-card : hsl(216, 50%, 16%); /* secondary color for text */
    --color-line: hsl(216, 50%, 16%); /* secondary color for text */
    --white: hsl(0, 0%, 100%); /* secondary color for text */
}
  

.body{
    background-color: var(--primary-color-background);
}
.container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color-background-card);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image{
    padding: 10px;
    border-radius: 20px;
}
.username{
    padding:5%;
    color: var(--white);
}
.amountText{
    color: var(--secondary-color-text);

}

.attribution{
    color: var(--white);
    font-size: 11px; text-align: center;
}
.attribution a {
     color: var(--secondary-color-text); 
}
